<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CadastroCliente</servlet-name>
        <servlet-class>Servlet.CadastroCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregaCliente</servlet-name>
        <servlet-class>Servlet.CarregaCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuario</servlet-name>
        <servlet-class>Servlet.ListarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>atualizarCliente</servlet-name>
        <servlet-class>Servlet.atualizarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletaCliente</servlet-name>
        <servlet-class>Servlet.DeletaCliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroCliente</servlet-name>
        <url-pattern>/CadastroCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ListarUsuario</servlet-name>
        <url-pattern>/ListarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregaCliente</servlet-name>
        <url-pattern>/CarregaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>atualizarCliente</servlet-name>
        <url-pattern>/atualizarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletaCliente</servlet-name>
        <url-pattern>/DeletaCliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
